@import '~bootstrap/scss/bootstrap.scss';


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-font{
  font-size: 2rem;
  font-family: 'Orbitron';
  margin-top:40px
}

.reset-button{
  padding: 10px 20px;
  border-radius: 20px;
  border: unset;
  color: #0096FF;
  background-color: #1e1e1e;
  margin-left: 20px;
  &:hover{
    background-color: #0096FF;
    color: #1e1e1e;
  }

}

.submit-button{
  padding: 10px 20px;
  border-radius: 20px;
  border: unset;
  color: #1e1e1e;
  background-color: #0096FF;
  margin-left: 20px;
  &:hover{
    background-color: #1e1e1e;
    color: #0096FF;
  }
  &:disabled{
    background-color: gray;
    color: black;
  }
}

.blinking-animation {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}